{% extends 'base.html.twig' %}

{% block title %}Symcope - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron ">
			<h1 class="display-4">Bienvenue sur Symcope</h1>
			<p class="lead">Symcope est une application qui va te permettre de 
							                faire la gestion d'une entreprise .Les options sont les suivantes :<br>
				-Mise a jour et liste des agents
				<br>
				-Mise a jour et liste des localites<br>
				-Mise a jour et liste des entrepots<br>
				-Entrer en stock de nouveaux produits
				<br>
				-Sortir du stock des produits

			</p>
			<hr class="mt-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lgz" href="#" role="button">Inscription</a>

		</div>
	</div>

{% endblock %}
